* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/**************** header******************/

@keyframes apparition {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

header {
  position: fixed;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid whitesmoke;
  z-index: 10;
  animation: apparition 5s;
}

header h1 {
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  width: 37vw;
}

nav > * {
  color: whitesmoke;
  text-decoration: none;
}

nav > *:hover {
  color: orangered;
}

/**************** sect1******************/
.sect1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

article {
  display: flex;
  flex-direction: row;
  cursor: context-menu;
}

article > * {
  color: whitesmoke;
  font-size: 80px;
  font-family: "Lobster", cursive;
  margin: 5px;
}

#c {
  width: 45px;
  border-radius: 50%;
}

.sousTitre h1 {
  font-size: 20px;
  font-family: "Lobster", cursive;
  color: black;
}

.separation {
  width: 80px;
  border-top: 1px solid whitesmoke;
  margin-bottom: 20px;
  margin-top: 15px;
}

/**************************************section2*************************************************/

.sect2 {
  height: 100vh;
  width: 100%;
}
