* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  
}

/**************** header******************/

@keyframes apparition {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

header {
  position: fixed;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid whitesmoke;
  z-index: 10;
  animation: apparition 5s;
}

#logo {
  height: auto;
  width: 180px;
  margin-left: 10px;
}

/*navbarResponsive*/

#responsive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100px;
}

#boutonMenu {
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 15px;
}

#boutonMenu:hover {
  color: #e9692c;
  cursor: pointer;
}

#croix:hover {
  color: black;
  cursor: pointer;
}

#croix {
  color: white;
  font-size: 30px;
  padding: 5px;
  margin-bottom: 15px;
}

#menuResponsive {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: #e9692c;
  z-index: 50;
  animation: cover 2s;
  font-family: "rallway";
}

#mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}

#liens {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70vh;
  width: 100%;
}

#liens > * {
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 20px;
  animation: lien 5s;
  font-family: "Raleway", sans-serif;
}

#liens > *:hover {
  color: black;
}

@keyframes lien {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes cover {
  from {
    width: 0%;
    opacity: 0.7;
  }

  to {
    width: 100%;
    opacity: 1;
  }
}

.navResponsive {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 80px;
}

.navResponsive div {
  height: 80px;
  width: 180px;
}

@media (max-width: 1030px) {
  header {
    justify-content: space-between;
  }

  #responsive {
    display: flex;
  }

  #logo {
    margin-left: 15px;
  }
}

/*navbarResponsive*/

/**************** sect1******************/
.sect1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

#community {
  display: flex;
  flex-direction: row;
  cursor: context-menu;
}

#community > * {
  opacity: 0.5;
  color: whitesmoke;
  font-size: 80px;
  font-family: "neonFuture";
  margin: 5px;
}

.sousTitre h1 {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 4px;
  color: black;
}

.separation {
  width: 80px;
  border-top: 1px solid whitesmoke;
  margin-bottom: 20px;
  margin-top: 15px;
  opacity: 0.5;
}

@font-face {
  font-family: "neon";
  src: url("./ressources/font/neon.TTF");
}

@font-face {
  font-family: "art";
  src: url("./ressources/font/art.ttf");
}

@font-face {
  font-family: "screaming";
  src: url("./ressources/font/screaming.ttf");
}

@font-face {
  font-family: "NeonFuture";
  src: url("./ressources/font/NeonF.ttf");
}

@font-face {
  font-family: "bien";
  src: url("./ressources/font/bien.otf");
}

@media (max-width: 650px) {
  #c,
  #o,
  #m,
  #mm,
  #u,
  #n,
  #i,
  #t,
  #y {
    font-size: 50px;
  }

  .sousTitre h1 {
    font-size: 15px;
    letter-spacing: 1px;
  }
}

@media (max-width: 400px) {
  #c,
  #o,
  #m,
  #mm,
  #u,
  #n,
  #i,
  #t,
  #y {
    font-size: 35px;
  }

  .sousTitre h1 {
    font-size: 10px;
  }
}

/**************************************section2*************************************************/

.sect2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
}

#bienvenue {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/******************sect3******************/

.sect3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: black;
}
#borderTitre {
  border-top: 1px solid #e9692c;
  opacity: 1;
}

.sect3 h1 {
  color: white;
  font-family: "bien";
  font-size: 25px;
  letter-spacing: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}

.imageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: 300px;
  height: 300px;
  background-color: white;
  text-align: center;
  font-family: "bien";
  color: #e9692c;
  margin: 50px;
}

.imageDiv p {
  margin: 5px;
}

.imgBox {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imgBox:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px #e9692c;
}

.imgBox img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/****************sect3*******************/



#categorie,#portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}



#categorie h1 {
  color: black;
  font-family: "bien";
  font-size: 25px;
  letter-spacing: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}

#services,#creation,#Ecommerce,#prints,#logoVisuelle,#enseigne{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  min-height: 80vh;
  width: 100%;
  border-top:1px solid #e9692c;
  border-bottom:1px solid #e9692c;
}
/**************************************categories***********************/

.imageService:hover {
  animation: tournePas 4s linear infinite;
  transition: 5s;
}

.cercle:hover {
  animation: tourne 4s linear infinite;
}

@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes tournePas {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media (max-width: 800px) {
  .imageService {
    animation: tournePas 4s linear infinite;
    transition: 5s;
  }

  .cercle {
    animation: tourne 4s linear infinite;
  }
}

.cercle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to top, transparent, rgba(233, 105, 44, 0.836));
  background-size: 170px 170px;
  background-repeat: no-repeat;
  border-top-left-radius: 170px;
  border-bottom-left-radius: 170px;
}

.cercle::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 48%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: #e9692c;
  border-radius: 50%;
  z-index: 5;
  box-shadow: 0 0 10px #e9692c, 0 0 20px #e9692c, 0 0 30px #e9692c,
    0 0 40px #e9692c, 0 0 50px #e9692c, 0 0 60px #e9692c, 0 0 70px #e9692c,
    0 0 80px #e9692c, 0 0 90px #e9692c, 0 0 100px #e9692c;
}

/*************************************portfolio*********************************/

#portfolio h1{
  color: black;
  font-family: "bien";
  font-size: 25px;
  letter-spacing: 10px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}



/**************************************footer*************************************************/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 450px;
  width: 100%;
  background-color: black;
}



#retourHaut{
 
 font-size: 50px;
 color:white; 
 background-color: black;
 border-radius: 50%;
 margin:-50px;
 border:2px solid black ;
}

#retourHaut:hover{

  cursor: pointer;
  background-color: #e9692c;

}

.borderFooter2 {
  width: 80%;
  border-top: 1px solid whitesmoke;
  margin: 30px;
}

.footer2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 350px;
  width: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 200px;
}

.logo h1 {
  color: white;
  font-family: "screaming";
  letter-spacing: 5px;
}

.borderLeft {
  min-height: 170px;
  border-left: 1px whitesmoke solid;
}

.borderFin {
  min-height: 170px;
  border-left: 1px black solid;
}

.Nancy,
.tel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  width: 200px;
}

.Nancy h2 {
  color: white;
  font-family: "neonFuture";
  text-shadow: white 5px 1px 5px;
  letter-spacing: 5px;
}

.Nancy p {
  color: white;
  font-family: "Raleway", sans-serif;
  text-align: center;
}

.borderFooter {
  width: 80px;
  border-top: 1px solid whitesmoke;
  margin-bottom: 20px;
  margin-top: 15px;
  opacity: 0.5;
}

.fas {
  color: white;
  font-size: 20px;
  margin-top: 20px;
}

.lienMail {
  text-decoration: none;
  color: white;
  font-family: "Raleway", sans-serif;
}

.reseau {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100px;
  width: 60%;
}

.fab {
  color: white;
  opacity: 0.7;
  font-size: 25px;
  margin-top: 20px;
}

.fab:hover {
  cursor: pointer;
  color: white;
  opacity: 1;
}
