* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.sect1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

article {
  display: flex;
  flex-direction: row;
  cursor: context-menu;
}

article > * {
  color: whitesmoke;
  font-size: 80px;
  font-family: "Lobster", cursive;
  margin: 5px;
}

#c {
  width: 45px;
  border-radius: 50%;
}

.sousTitre h1 {
  font-size: 20px;
  font-family: "Lobster", cursive;
  color: black;
}

.separation {
  width: 80px;
  border-top: 1px solid whitesmoke;
  margin-bottom: 20px;
  margin-top: 15px;
}

/**************************************section2*************************************************/

.sect2 {
  height: 100vh;
  width: 100%;
}
